#!/bin/bash

systemctl restart slapd.service

file="/etc/ldap/slapd.d/cn=config/olcDatabase={1}mdb.ldif"
while read -r line; do
    name="$line"
#    echo "Name read from file - $name"
    if [[ "$name" == *"to * by * read"* ]]; then
        parser_line=$(echo "$name" | awk '{print $2}')
        parser_line=$(echo $parser_line | sed 's/}.*//')
        olc_number=$(echo "${parser_line:1}")
        echo "--------------------->>>> "$olc_number
    fi

    if [[ "$name" == *"to attrs=shadowLastChange by self write by * read"* ]]; then
        parser_line=$(echo "$name" | awk '{print $2}')
        parser_line=$(echo $parser_line | sed 's/}.*//')
        olc_number2=$(echo "${parser_line:1}")
        echo "--------------------->>>> "$olc_number2
    fi
done < $file

ldapmodify -Y EXTERNAL -H ldapi:/// << EOL
dn: olcDatabase={1}mdb,cn=config
changetype: modify
delete: olcAccess
olcAccess: {$olc_number}to * by * read
olcAccess: {$olc_number2}to attrs=shadowLastChange by self write by * read
EOL